appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
Bottleneck
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click==8.1.3
commonmark
cryptography
debugpy
decorator
defusedxml
docker-pycreds==0.4.0
entrypoints
executing
fastjsonschema
filelock
future
gitdb==4.0.9
GitPython==3.1.27
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib==1.1.0
jsonschema
jupyter
jupyter-console
jupyter-core
jupyter_client
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy
packaging
pandas==1.4.3
pandocfilters
parso
pathtools==0.1.2
pexpect
pickleshare
Pillow==9.2.0
ply==3.11
prometheus-client
promise==2.3
prompt-toolkit
protobuf==3.20.1
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex==2022.8.17
requests
rich
sacremoses==0.0.53
Send2Trash
sentencepiece==0.1.95
sentry-sdk==1.9.8
setproctitle==1.3.2
shortuuid==1.0.9
sip
six
smmap==5.0.0
soupsieve
stack-data
terminado
testpath
tokenizers==0.12.1
toml 
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado 
tqdm 
traitlets 
typing_extensions
urllib3
wcwidth 
webencodings==0.5.1
widgetsnbextension
zipp 
